@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0022CC;
}

.container {
    width: 95%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1E1F;
    padding: 0.8rem;
}

.form-image img {
    width: 50rem;
}

.form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B1E1F;
    padding: 3rem;
}

.form-header {
    font-size: 1rem; 
    margin-bottom: 3rem;
    padding: 1rem; 
    display: flex;
    justify-content: space-between;
}

h1{
    Color:  #338AFF;
}

h5{
    font-size: 17px;
    Color:  #338AFF;
}

.digi-link:hover {
    color: #00A36C; /* Color on hover */
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 0.9rem;
}

.continue-button button {
    width: 106%;
    margin-top: 2.5rem;
    border: none;
    background-color: #00A36C;
    padding: 0.62rem;
    border-radius: 20px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #0022CC;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.input-group-container {
    display: flex;
    width: 110%;
}

.input-group {
    position: relative;
    width: 100%;
}

.return-btn{
    display: none;
}

.input {
    border: solid 1.5px #e90909;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #ffffff;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    width: 100%; /* Adjust width of each input */
    box-sizing: border-box;
}

.user-label {
    position: absolute;
    left: 50px;
    top: 28px;
    color: #c0bcbc75;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, input:valid {
    outline: none;
    border: 1.5px solid #2196f3;
}

.input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #1B1E1F;
    padding: 0 .2em;
    left: 30px;
    color: #2196f3;
}

#novamensalidade{
   width: 28%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .form-image {
        width: 100%;
        padding: 1rem;
    }

    .form-image img {
        width: 100%;
    }

    #elon{
        display: none;
    }

    #novamensalidade{
        width: 100%;
     }

    .form {
        width: 100%;
        padding: 2rem 1.5rem;
    }

    .form-header {
        font-size: 0.9rem;
        margin-bottom: 2rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1rem;
    }

    .input-group {
        padding: 1rem;
        gap: 0.5rem;
    }

    .continue-button button {
        width: 100%;
        padding: 0.5rem;
        font-size: 0.85rem;
    }

    .input-group-container {
        flex-direction: column;
        width: 100%;
    }


    .input {
        padding: 0.8rem;
        font-size: 0.9rem;
      
    }

    .user-label {
        left: 30px;
        top: 15px;
        font-size: 0.9rem;
    }
}


  
  

